:host {
  display: block;
  height: 100vh;
}

.notification-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
}

.notification-badge {
  --ig-size: 1;

  position: absolute;
  transform: translate(100%, -75%);
}
