:host {
  display: block;
  height: 100vh;
}

.erp-nav-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.85);
  font-size: 14px;

  igx-icon {
    color: rgba(255, 255, 255, 0.75);
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}
